<header id="home">
    <div class="row justify-content-between align-items-center p-3">
        <div class="col">
            <img src="assets/images/logo.svg" alt="Logo">
        </div>
        <div class="col">
            <input type="search" name="search" id="search" class="search" placeholder="جست و جو">
        </div>
        <div class="col-4 justify-content-end ltr">
            <div>
                <a id="account-btn" class="col-md-auto"><img
                        src="assets/images/user.png"></a>
                <a id="cart-btn" class="col-md-auto"><img src="assets/images/cart.png"></a>
            </div>
        </div>
    </div>
    <nav class="nav navbar-expand-lg p-1 justify-content-center">
        <a class="nav-item active" href="#home">صفحه اصلی</a>
        <span></span>
        <a class="nav-item" href="#products">محصولات</a>
        <span></span>
        <a class="nav-item" href="#about-us">درباره ما</a>
        <span></span>
        <a class="nav-item" href="#about-us">تماس با ما</a>
    </nav>
</header>