<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>فروشگاه محصولات آموزشی</title>
    <link rel="stylesheet" href="packages/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.style.css">
    <link rel="stylesheet" href="css/modal.style.css">
    <script src="js/script.js"></script>
    <script src="js/modal.js"></script>
</head>

<body>
    <div class="container-fluid g-0">
        <header id="home">
            <div class="row justify-content-between align-items-center p-3">
                <div class="col">
                    <img src="assets/images/logo.svg" alt="Logo">
                </div>
                <div class="col">
                    <input type="search" name="search" id="search" class="search" placeholder="جست و جو">
                </div>
                <div class="col-4 justify-content-end ltr">
                    <div>
                        <a class="col-md-auto" onclick="openModal('accountModal');"><img
                                src="assets/images/user.png"></a>
                        <a class="col-md-auto" onclick="openModal('cartModal');"><img src="assets/images/cart.png"></a>
                    </div>
                </div>
            </div>
            <nav class="nav navbar-expand-lg p-1 justify-content-center">
                <a class="nav-item active" href="#home">صفحه اصلی</a>
                <span></span>
                <a class="nav-item" href="#products">محصولات</a>
                <span></span>
                <a class="nav-item" href="#about-us">درباره ما</a>
                <span></span>
                <a class="nav-item" href="#about-us">تماس با ما</a>
            </nav>
        </header>

        <main id="products" class="p-3">
            <h3>محصولات ویژه</h3>
            <section class="row justify-content-evenly">
                <article class="col-auto mt-2">
                    <img src="assets/images/products/graphic_book.jpg" alt="">
                    <center class="pt-2">
                        <h4>آموزش فتوشاپ 1</h4>
                    </center>
                </article>
                <article class="col-auto mt-2">
                    <img src="assets/images/products/graphic_book.jpg" alt="">
                    <center class="pt-2">
                        <h4>آموزش فتوشاپ 2</h4>
                    </center>
                </article>
                <article class="col-auto mt-2">
                    <img src="assets/images/products/graphic_book.jpg" alt="">
                    <center class="pt-2">
                        <h4>آموزش فتوشاپ 3</h4>
                    </center>
                </article>
                <article class="col-auto mt-2">
                    <img src="assets/images/products/coffe.jpg" alt="">
                    <center class="pt-2">
                        <h4>آموزش تولید قهوه</h4>
                    </center>
                </article>
            </section>
            <br>
            <h3>محصولات جدید</h3>
            <section class="row justify-content-evenly">
                <article class="col-auto mt-2">
                    <img src="assets/images/products/graphic_book.jpg" alt="">
                    <center class="pt-2">
                        <h4>آموزش فتوشاپ 1</h4>
                    </center>
                </article>
                <article class="col-auto mt-2">
                    <img src="assets/images/products/graphic_book.jpg" alt="">
                    <center class="pt-2">
                        <h4>آموزش فتوشاپ 2</h4>
                    </center>
                </article>
                <article class="col-auto mt-2">
                    <img src="assets/images/products/graphic_book.jpg" alt="">
                    <center class="pt-2">
                        <h4>آموزش فتوشاپ 3</h4>
                    </center>
                </article>
                <article class="col-auto mt-2">
                    <img src="assets/images/products/coffe.jpg" alt="">
                    <center class="pt-2">
                        <h4>آموزش تولید قهوه</h4>
                    </center>
                </article>
            </section>
            <br>
        </main>

        <footer class="align-items-center">
            <div id="about-us" class="about-us row justify-content-center">
                <div class="col">
                    <h4>فروشگاه اینترنتی دیجی‌کالا، بررسی، انتخاب و خرید آنلاین</h4>
                    <p>
                        یک خرید اینترنتی مطمئن، نیازمند فروشگاهی است که بتواند کالاهایی متنوع، باکیفیت و دارای قیمت
                        مناسب را در مدت زمانی کوتاه به دست مشتریان خود برساند و ضمانت بازگشت کالا هم داشته باشد؛
                        ویژگی‌هایی که فروشگاه اینترنتی دیجی‌کالا سال‌هاست بر روی آن‌ها کار کرده و توانسته از این طریق
                        مشتریان ثابت خود را داشته باشد.<br>
                        شماره تماس : 09016493605
                    </p>
                </div>
                <div class="col" style="text-align: center;">
                    <img src="assets/images/kasbokar.png" alt="" style="width: 11vh;">
                    <img src="assets/images/rezi.png" alt="" style="width: 13vh;">
                    <img src="assets/images/kasbokar.png" alt="" style="width: 11vh;">
                </div>
            </div>
            <div style="text-align: center;border-top: 1px solid #83878d1a;padding: 12px;">
                <h4>تمام حقوق برای این سایت محفوظ می باشد</h4>
            </div>
        </footer>

        <div id="accountModal" class="modal row">
            <div class="modal-content col-auto">
                <h2>حساب کاربری</h2>
                <div>
                    <input type="text" name="username" id="username" placeholder="نام کاربری">
                    <input type="password" name="password" id="password" placeholder="رمز عبور">
                    <button type="submit">ورود</button>
                </div>
            </div>
        </div>

        <div id="cartModal" class="modal">
            <div class="modal-content">
                <h2>سبد خرید</h2>
                <div class="cart-box">
                    <article>
                        <img src="assets/images/products/graphic_book.jpg" alt="">
                        <h4>آموزش فتوشاپ 1</h4>
                        <button>حذف</button>
                    </article>
                    <article>
                        <img src="assets/images/products/graphic_book.jpg" alt="">
                        <h4>آموزش فتوشاپ 2</h4>
                        <button>حذف</button>
                    </article>
                    <article>
                        <img src="assets/images/products/coffe.jpg" alt="">
                        <h4>آموزش تولید قهوه</h4>
                        <button>حذف</button>
                    </article>
                    <br>
                    <button>تکمیل سبد خرید</button>
                </div>
            </div>
        </div>
    </div>
    <script src="packages/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>